force-app/main/default/flows/Account_College_Interests_Master_Add_or_Remove.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Completed_Match_Criteria</name>
        <label>Completed Match Criteria?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>College_Right_Fit_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Completed_Match_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_of_Running_User.Right_Fit_Progress__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Student_Record</targetReference>
            </connector>
            <label>Yes, User Completed Match Criteria.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_School_Already_on_List</name>
        <label>Is School Already on List?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_to_Interests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_School_is_on_the_list_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_College_on_Right_Fit_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_From_Interests</targetReference>
            </connector>
            <label>Yes, School is on the list already.</label>
        </rules>
    </decisions>
    <description>09.16.2025 (MJD) - v2, v3, v4 - Updated the &apos;Completed Match Criteria&apos; node to check the &apos;Right Fit Progress&apos; field instead of the User.Completed_Right_Fit_Criteria__c field (the formula for this User field wasn&apos;t working as expected).</description>
    <environments>Default</environments>
    <interviewLabel>Account - College Interests Master - Add or Remove {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Account - Students Add/Remove from Right Fit List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_to_Right_Fit_List</name>
        <label>Add to Right Fit List</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Assignment_Source__c</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>College_Match__c</field>
            <value>
                <elementReference>CollegeAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Match_Criteria__c</field>
            <value>
                <elementReference>Get_Student_Record.Student_Match_Criteria__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Right_Fit_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_of_Running_User</name>
        <label>Get Contact of Running User</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed_Match_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Record</name>
        <label>Get Student Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_College_on_Right_Fit_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Is_College_on_Right_Fit_List</name>
        <label>Is College on Right Fit List?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_School_Already_on_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollegeAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Match_Criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Student_Record.Student_Match_Criteria__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student_Right_Fit_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_from_Student_Right_Fit_list</name>
        <label>Remove from Student Right Fit list</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Is_College_on_Right_Fit_List.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Student Removed</stringValue>
            </value>
        </inputAssignments>
        <object>Student_Right_Fit_List__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_to_Interests</name>
        <label>Add to Interests</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_to_Right_Fit_List</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_RemoveSchool</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This school is &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(231, 0, 0);&quot;&gt;not &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;on your list. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿Would you like to add it? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add to My College Interests List</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>College_Right_Fit_List</name>
        <label>College Right Fit List</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NeedToCompleteRightFitMatchCriteria</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Complete Your Right Fit Match Criteria&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You must first complete your right fit match criteria before you can add schools to your list.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Complete Match Criteria</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remove_From_Interests</name>
        <label>Remove From Interests</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remove_from_Student_Right_Fit_list</targetReference>
        </connector>
        <fields>
            <name>RemoveSchool</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This school &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(11, 205, 8);&quot;&gt;is already on&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; my Right Fit List!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Remove School from College Interests</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_of_Running_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollegeAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
