force-app/main/default/flows/Assign_Student_to_College_Counselor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Assignment_of_Student_to_Counselor</name>
        <label>Post Assignment of Student to Counselor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Contact.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Counselor_Assigned_to_Student</name>
        <label>Send Email to Counselor Assigned to Student</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XU7000001r1yHMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Contact.CoFo_SIS__User__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Find_SEED_School_from_Student_Email_Address</name>
        <label>Find SEED School from Student Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEED_DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.dc.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_DC_Students</targetReference>
            </connector>
            <label>SEED DC</label>
        </rules>
        <rules>
            <name>SEED_MD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>seedschoolmd.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_MD_Students</targetReference>
            </connector>
            <label>SEED MD</label>
        </rules>
        <rules>
            <name>SEED_Miami</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.miami.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_Miami_Students</targetReference>
            </connector>
            <label>SEED Miami</label>
        </rules>
        <rules>
            <name>SEED_LA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.seedschoolla.org</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.la.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_LA_Students</targetReference>
            </connector>
            <label>SEED LA</label>
        </rules>
    </decisions>
    <description>Based on the student&apos;s email address, we assign them to a College Counselor for the appropriate SEED school. Upon assignment, Counselor is also notified via email and chatter post, that a new student has been assigned to them.</description>
    <environments>Default</environments>
    <formulas>
        <name>varStudentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.CoFo_SIS__Full_Name__c}</expression>
    </formulas>
    <interviewLabel>Assign Student to College Counselor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Student to College Counselor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_SEED_DC_Students</name>
        <label>Assign SEED DC Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000DUDZ0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_LA_Students</name>
        <label>Assign SEED LA Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051Y00000BDBDgQAP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_MD_Students</name>
        <label>Assign SEED MD Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051Y00000BDBDgQAP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_Miami_Students</name>
        <label>Assign SEED Miami Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000CbQVvAAN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contacts__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_SEED_School_from_Student_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>varMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new student, {!varStudentName}, has been assigned to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may view the student&apos;s record at:&lt;/p&gt;&lt;p&gt;https://seedfoundation--fullsb.sandbox.lightning.force.com/lightning/r/Contact/{!$Record.ContactId}/view&lt;/p&gt;</text>
    </textTemplates>
</Flow>
