force-app/main/default/flows/Automation_Contact_Create_Student_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Assignment_of_Student_to_Counselor</name>
        <label>Post Assignment of Student to Counselor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Email_to_Student_that_Counselor_has_been_assigned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>varMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Counselor_Assigned_to_Student</name>
        <label>Send Email to Counselor Assigned to Student</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Student Assigned</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Dear Counselor,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;A new student,&amp;nbsp;{!$Record.FirstName} {!$Record.LastName}, has been assigned to you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;You may review the Student&apos;s record here:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://seedfoundation--fullsb.sandbox.lightning.force.com/lightning/r/Contact/003U700000p2fkC/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(17, 85, 204);&quot;&gt;https://seedfoundation--fullsb.sandbox.lightning.force.com/lightning/r/Contact/{!$Record.Id}/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;SEED Administrator&lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Contact_Record_Just_Created.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Student_that_Counselor_has_been_assigned</name>
        <label>Send Email to Student that Counselor has been assigned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SEED Counselor Assigned to you</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dear {!$Record.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Congratulations!  A SEED Counselor,&amp;nbsp;{!Get_Contact_Record_Just_Created.Owner.Name}, has been assigned to you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;SEED Administrator&lt;/strong&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Does_user_already_exist</name>
        <label>Does user already exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Student_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, user does not exist - create user</defaultConnectorLabel>
        <rules>
            <name>Yes_user_exists_skip_creation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Contact_Record_Just_Created.User__r.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record_Just_Created.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001i000000ahxTSAAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_SEED_School_from_Student_Email_Address</targetReference>
            </connector>
            <label>Yes, user exists - skip creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_SEED_School_from_Student_Email_Address</name>
        <label>Find SEED School from Student Email Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEED_DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.dc.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_DC_Students</targetReference>
            </connector>
            <label>SEED DC</label>
        </rules>
        <rules>
            <name>SEED_MD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>seedschoolmd.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_MD_Students</targetReference>
            </connector>
            <label>SEED MD</label>
        </rules>
        <rules>
            <name>SEED_Miami</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.miami.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_Miami_Students</targetReference>
            </connector>
            <label>SEED Miami</label>
        </rules>
        <rules>
            <name>SEED_LA</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.seedschoolla.org</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>student.la.seedschool.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEED_LA_Students</targetReference>
            </connector>
            <label>SEED LA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_DC_Found</name>
        <label>Campaign DC Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - skip campaign add</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_DC_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Campaign_DC_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Student_to_SEED_DC_Campaign</targetReference>
            </connector>
            <label>Yes - add to campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_LA_Found</name>
        <label>Campaign LA Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - skip campaign add</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_LA_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Campaign_LA_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Student_to_SEED_LA_Campaign</targetReference>
            </connector>
            <label>Yes - add to campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_MD_Found</name>
        <label>Campaign MD Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - skip campaign add</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_MD_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Campaign_MD_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Student_to_SEED_MD_Campaign</targetReference>
            </connector>
            <label>Yes - add to campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Miami_Found</name>
        <label>Campaign Miami Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - skip campaign add</defaultConnectorLabel>
        <rules>
            <name>Yes_Campaign_Miami_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_Campaign_Miami_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Student_to_SEED_Miami_Campaign</targetReference>
            </connector>
            <label>Yes - add to campaign</label>
        </rules>
    </decisions>
    <description>When the student&apos;s Contact record is created, we automatically create a student Portal User record for the student with appropriate permissions.

03.2026 (MJD) - v16 - Updated all campaign lookups to use "Cohort" naming: SEED DC Cohort, SEED LA Cohort, SEED MD Cohort, SEED Miami Cohort.
03.2026 (MJD) - v15 - Added fault paths to Campaign Member create elements so flow continues when add fails (e.g., INVALID_CROSS_REFERENCE_KEY from Campaign Member Record Type). Student creation and assignment still complete; campaign add is skipped on failure.
03.2026 (MJD) - v14 - Replaced hardcoded Campaign IDs with lookups by Name (SEED DC, SEED LA, SEED MD, SEED Miami) so flow works across orgs/sandboxes. Skip campaign add when campaign not found.
09.09.2025 (MJD) - v13 - Added insertion of Contact into appropriate &apos;SEED&apos; Cohort Campaign.
09.09.2025 (MJD) - v12 - Added email send/logging to Student when the Counselor is assigned.
09.09.2025 (MJD) - v11 - Added check for &apos;The SEED Foundation&apos; INTERNAL User - i.e. if new Contact is associated with &apos;The SEED Foundation&apos;, the flow does NOT create a new user (assumption is that a user has already been created for INTERNAL Users).
09.09.2025 (MJD) - v10 - Removed &apos;Related Record Id&apos; from email logging.</description>
    <environments>Default</environments>
    <formulas>
        <name>varAlias</name>
        <dataType>String</dataType>
        <expression>LOWER(
    LEFT({!$Record.FirstName}, 2) &amp; 
    LEFT({!$Record.LastName}, 
         IF(LEN({!$Record.LastName}) &lt; 6, LEN({!$Record.LastName}), 6)
    )
)</expression>
    </formulas>
    <formulas>
        <name>varNickname</name>
        <dataType>String</dataType>
        <expression>LEFT(
    {!$Record.FirstName} &amp; &quot; &quot; &amp; {!$Record.LastName}, 
    40
)</expression>
    </formulas>
    <formulas>
        <name>varStudentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>varUserName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Email} + &quot;.student&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Campaign_DC_Found</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_SEED_DC_Campaign.Id}))</expression>
    </formulas>
    <formulas>
        <name>Formula_Campaign_LA_Found</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_SEED_LA_Campaign.Id}))</expression>
    </formulas>
    <formulas>
        <name>Formula_Campaign_MD_Found</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_SEED_MD_Campaign.Id}))</expression>
    </formulas>
    <formulas>
        <name>Formula_Campaign_Miami_Found</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_SEED_Miami_Campaign.Id}))</expression>
    </formulas>
    <interviewLabel>Automation - Contact - Create Student User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automation - Contact - Create Student User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Student_to_SEED_DC_Campaign</name>
        <label>Add Student to SEED DC Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_SEED_DC_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Student_to_SEED_LA_Campaign</name>
        <label>Add Student to SEED LA Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_SEED_LA_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Student_to_SEED_MD_Campaign</name>
        <label>Add Student to SEED MD Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_SEED_MD_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Student_to_SEED_Miami_Campaign</name>
        <label>Add Student to SEED Miami Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Assignment_of_Student_to_Counselor</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_SEED_Miami_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Student_User</name>
        <label>Create Student User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_SEED_School_from_Student_Email_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>varAlias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>varNickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_Record_Just_Created.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00e5d000001e1TyAAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/New_York</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPreferencesReceiveNotificationsAsDelegatedApprover</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>varUserName</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record_Just_Created</name>
        <label>Get Contact Record Just Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_user_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEED_DC_Campaign</name>
        <label>Get SEED DC Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_DC_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEED DC Cohort</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEED_LA_Campaign</name>
        <label>Get SEED LA Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_LA_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEED LA Cohort</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEED_MD_Campaign</name>
        <label>Get SEED MD Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_MD_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEED MD Cohort</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SEED_Miami_Campaign</name>
        <label>Get SEED Miami Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Miami_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SEED Miami Cohort</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_SEED_DC_Students</name>
        <label>Assign SEED DC Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SEED_DC_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000DUDZ0</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_LA_Students</name>
        <label>Assign SEED LA Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SEED_LA_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051Y00000BDBDgQAP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_MD_Students</name>
        <label>Assign SEED MD Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SEED_MD_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051Y00000BDBDgQAP</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_SEED_Miami_Students</name>
        <label>Assign SEED Miami Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SEED_Miami_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000CbQVvAAN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Just_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i000000126pxAAA</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Send_Email_to_Counselor_Assigned_to_Student</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A new student, {!varStudentName}, has been assigned to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You may view the student&apos;s record at:&lt;/p&gt;&lt;p&gt;https://seedfoundation--fullsb.sandbox.lightning.force.com/lightning/r/Contact/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
</Flow>
