force-app/main/default/flows/College_Support_Survey_Launch_From_Modal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_School_ID_from_Chosen_List</name>
        <label>Assign School ID from Chosen List</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>School_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_School_is_this_survey_for</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_College_Support_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_School_Id_from_Survey</name>
        <label>Assign School Id from Survey</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>School_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Survey_Record.College__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_College_Support_Survey</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Survey_Already_Complete</name>
        <label>Is Survey Already Complete?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Continue_Survey_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_no_longer_DRAFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Record.Survey_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Survey_Path_0</targetReference>
            </connector>
            <label>Yes, it&apos;s no longer DRAFT.</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_var_SurveyId_provided</name>
        <label>Was var_SurveyId provided?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ChooseSchool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_var_SurveyId_was_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SurveyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_Record</targetReference>
            </connector>
            <label>Yes, var_SurveyId was provided.</label>
        </rules>
    </decisions>
    <description>Launches from modal. Allows user to select school from picklist and then proceeds to the subflow.
Allows for New Survey or to continue one.</description>
    <dynamicChoiceSets>
        <name>SchoolList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i000000126phAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SEED_College_Matching_Color__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>College Support Survey - Launch From Modal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campus Support Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Survey_Record</name>
        <label>Get Survey Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Survey_Already_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SurveyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>College_Supports_Survey__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ChooseSchool</name>
        <label>Campus Support Survey</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_School_ID_from_Chosen_List</targetReference>
        </connector>
        <fields>
            <name>Which_School_is_this_survey_for</name>
            <choiceReferences>SchoolList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which School is this survey for?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Continue_Survey_Path</name>
        <label>Continue Survey Path</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_School_Id_from_Survey</targetReference>
        </connector>
        <fields>
            <name>ContinueSurveyPath_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 140, 255); font-size: 24px;&quot;&gt;Continue Campus Support Survey&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You&apos;ve selected to continue editing a survey that you previously started.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Survey:&lt;strong&gt; {!Get_Survey_Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;School: &lt;strong&gt;{!Get_Survey_Record.College__r.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_continue_where_you_left_off</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to continue where you left off?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Continue_Survey_Path_0</name>
        <label>Survey Already Submitted</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContinueSurveyPath_Text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 140, 255); font-size: 24px;&quot;&gt;Campus Support Survey&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The survey you selected has already been submitted.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;Thank you for your submission!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Survey:&lt;strong&gt; {!Get_Survey_Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;School: &lt;strong&gt;{!Get_Survey_Record.College__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Survey_Record.Academic_Support_Percent__c}%: Academic Support Percent&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Get_Survey_Record.Disabilities_Support_Percent__c}%&lt;/span&gt;: Disabilities Support Percent&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Get_Survey_Record.Social_and_Emotional_Support_Percent__c}%: Social and Emotional Support Percent&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!Get_Survey_Record.Financial_Aid_Percent__c}%: &lt;/span&gt;Financial Aid Percent&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Survey_Record.Overall_Support_Average__c}%: &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Overall&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you would like to start a new survey, head over to the home page or school page you wish to submit the survey for.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/studentsCS/s/campus-support-surveys&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(202, 7, 7); font-size: 18px;&quot;&gt;&lt;strong&gt;Return Home&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_var_SurveyId_provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Launch_College_Support_Survey</name>
        <label>Launch College Support Survey</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <flowName>College_Supports_Survey</flowName>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>School_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recVar_CollegeSupportSurvey</name>
            <value>
                <elementReference>Get_Survey_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recVar_Survey</name>
            <value>
                <elementReference>Get_Survey_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>School_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
