force-app/main/default/flows/Last_Activity_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_to_Contacts_Collection</name>
        <label>Add to Contacts Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>collContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Date</name>
        <label>Assign Email Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEmailMessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Email_Message.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Date_is_Latest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_is_Latest</name>
        <label>Assign Email is Latest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLatestActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmailMessageDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Date</name>
        <label>Assign Task Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTaskDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Task.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_is_Latest</name>
        <label>Assign Task is Latest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLatestActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Contact_Update</name>
        <label>Prepare Contact Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactToUpdate.Last_Activity_Record_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLatestActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Contacts_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Dates_Found</name>
        <label>Any Dates Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Got_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Date Found</defaultConnectorLabel>
        <rules>
            <name>No_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Email_Message.RelatedToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contacts</targetReference>
            </connector>
            <label>No Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Email</name>
        <label>Got Email?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Which_Date_is_Latest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Email_Message.ActivityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Date</targetReference>
            </connector>
            <label>Yes Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Task</name>
        <label>Got Task?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Got_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Task</defaultConnectorLabel>
        <rules>
            <name>Yes_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Date</targetReference>
            </connector>
            <label>Yes Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Contact</name>
        <label>Should Update Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contacts.Last_Activity_Record_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Contact_Update</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Date_is_Latest</name>
        <label>Which Date is Latest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Is_Latest</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varTaskDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailMessageDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varEmailMessageDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_is_Latest</targetReference>
            </connector>
            <label>Task Is Latest</label>
        </rules>
        <rules>
            <name>Email_Is_Latest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailMessageDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTaskDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailMessageDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varTaskDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_is_Latest</targetReference>
            </connector>
            <label>Email Is Latest</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaDateBack</name>
        <dataType>Date</dataType>
        <expression>NOW() - ({!varDaysBack} * 1)</expression>
    </formulas>
    <interviewLabel>Last Activity Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Last Activity Date</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts_To_Check</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Latest_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_Batch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_To_Check</name>
        <label>Get Contacts to Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaDateBack</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Email_Message</name>
        <label>Get Latest Email Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Dates_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToAddress</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contacts.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Task</name>
        <label>Get Latest Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Email_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contacts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts_Batch</name>
        <label>Update Contacts Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>collContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contacts_To_Check</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-27</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colContactsToUpdate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varDaysBack</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>270.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailMessageDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoteDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
