force-app/main/default/flows/New_Task_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Counselor_has_open_task</name>
        <label>Counselor has open task?</label>
        <locationX>917</locationX>
        <locationY>572</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Task_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_an_open_task_exist.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Open Task Does Not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_New_or_Updated</name>
        <label>Match New or Updated</label>
        <locationX>837</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchRecordIsUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>Match is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Student_Has_Counselor</name>
        <label>Student Has Counselor</label>
        <locationX>625</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Does_an_open_task_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_Does_Not_Have_Counselor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StudentCounselor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Student Does Not Have Counselor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateInFuture</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <interviewLabel>New Task Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Task Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1090</locationX>
        <locationY>1095</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateInFuture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Communication_Direction__c</field>
            <value>
                <stringValue>CC/Advisor-Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Communication_Outcome__c</field>
            <value>
                <stringValue>Attempted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Topic__c</field>
            <value>
                <stringValue>Postsecondary Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionforTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>StudentCounselor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>675</locationX>
        <locationY>1084</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateInFuture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Communication_Direction__c</field>
            <value>
                <stringValue>CC/Advisor-Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Communication_Outcome__c</field>
            <value>
                <stringValue>Attempted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoFo_SIS__Topic__c</field>
            <value>
                <stringValue>Postsecondary Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Newtaskwhenmatchrecordisupdated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>StudentCounselor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>UpdatedMatchSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Does_an_open_task_exist</name>
        <label>Get Open Matching Tasks</label>
        <locationX>1201</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counselor_has_open_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubjectforTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contact record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>545</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_New_or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Counselor_User_ID</name>
        <label>Get Counselor User ID</label>
        <locationX>1007</locationX>
        <locationY>714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StudentCounselor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Student_Has_Counselor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DescriptionforTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Contact_Record.Name} has submitted their match criteria! Please review their feedback and their right fit list.</text>
    </textTemplates>
    <textTemplates>
        <description>When an update happens to a student match record, a new task is created for the counselor to look at it</description>
        <name>Newtaskwhenmatchrecordisupdated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A student has updated their match criteria! Please review their feedback and their right fit list.</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectforTask</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Review Newly Submitted Match Criteria and automatically generated right fit list</text>
    </textTemplates>
    <textTemplates>
        <name>UpdatedMatchSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Update to match criteria!</text>
    </textTemplates>
    <variables>
        <name>AssignedtoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Assignouttaskduedate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchRecordIsUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StudentCounselor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
