force-app/main/default/flows/Right_Fit_List_Complete_Student_Review_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Has_this_match_been_reviewed</name>
        <label>Has this match been reviewed?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Student_Review_Feedback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_student_has_reviewed_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Right_Fit_List_Record.Student_Review_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_reviewed</targetReference>
            </connector>
            <label>Yes, student has reviewed it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Right Fit List - Complete Student Review &amp; Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Right Fit List - Complete Student Review &amp; Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Right_Fit_List_Record</name>
        <label>Get Right Fit List Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_this_match_been_reviewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_StudentRightFitList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student_Right_Fit_List__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Student_Review_Status__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Right_Fit_Match_to_Completed_Review</name>
        <label>Update Right Fit Match to Completed Review</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId_StudentRightFitList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Student_Feedback__c</field>
            <value>
                <elementReference>Feedback_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Review_Status__c</field>
            <value>
                <stringValue>Review Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Student_Right_Fit_List__c</object>
    </recordUpdates>
    <screens>
        <name>Already_reviewed</name>
        <label>Already reviewed</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AlreadyReviewed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Student Review Complete&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Thank you for completing your student review!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Student_Review_Feedback</name>
        <label>Student Review &amp; Feedback</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Right_Fit_Match_to_Completed_Review</targetReference>
        </connector>
        <fields>
            <name>Feedback</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Complete Student Review&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please provide feedback on this right fit match result.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;What did you think of this school? &lt;/span&gt;&lt;/li&gt;&lt;li&gt;Do you have any questions?&lt;/li&gt;&lt;li&gt;What do you like about this school?&lt;/li&gt;&lt;li&gt;Was there anything you did not like?&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Feedback_Text</name>
            <fieldText>Feedback</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please keep your feedback under 255 characters.&amp;nbsp;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Feedback_Text})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Complete Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Right_Fit_List_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId_StudentRightFitList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
