force-app/main/default/flows/Right_Fit_Match_Criteria_Add_More_Colleges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_to_recVar</name>
        <label>Assign to recVar</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recVar_RightFitListMatch.First_Match_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>matchCriteri_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_RightFitListMatch.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_RightFitListMatch.College_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedSchool.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_RightFitListMatch.Assignment_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Counselor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_RightFitListMatch.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Match_Criteria_Record.Student__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Right_Fit_List_Matches</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Was_match_found</name>
        <label>Was match found?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_to_recVar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_school_is_on_list_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_School_Already_on_List.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_Already_on_List</targetReference>
            </connector>
            <label>Yes school is on list already</label>
        </rules>
    </decisions>
    <description>Screen flow to add more colleges to a students right fit list.
API 54 - to match prod.</description>
    <environments>Default</environments>
    <interviewLabel>Right Fit Match Criteria - Add More Colleges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Right Fit Match Criteria - Add More Colleges</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Right_Fit_List_Matches</name>
        <label>Create Right Fit List Matches</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <inputReference>recVar_RightFitListMatch</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Matches</name>
        <label>Get Current Matches</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_a_School</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Match_Criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>matchCriteri_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Student_Right_Fit_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Match_Criteria_Record</name>
        <label>Get Match Criteria Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>matchCriteri_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student_Match_Criteria__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Is_School_Already_on_List</name>
        <label>Is School Already on List?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_match_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College_Match__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSchool.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Match_Criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>matchCriteri_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Student_Right_Fit_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_a_School</name>
        <label>Add a School</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_School_Already_on_List</targetReference>
        </connector>
        <fields>
            <name>SelectACollege</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(12, 134, 221);&quot;&gt;Add Colleges to the Right Fit List&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use the search box below to add additional colleges to this students Right Fit List.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedSchool</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>College_Match__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>College</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Student_Right_Fit_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Add School</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>School_Already_on_List</name>
        <label>School Already on List</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_a_School</targetReference>
        </connector>
        <fields>
            <name>AlreadyOnListText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Whoops!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This college &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(250, 0, 0);&quot;&gt;is already on&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; the Right Fit List! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Try a different college.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Add Another College</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Match_Criteria_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collVar_CollegesSelectedNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>matchCriteri_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCollVar_RightFitLIstMatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Right_Fit_List__c</objectType>
    </variables>
    <variables>
        <name>RecColVar_AccountsChosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recVar_RightFitListMatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Right_Fit_List__c</objectType>
    </variables>
</Flow>
