force-app/main/default/flows/Student_Right_Fit_School_Selection_Criteria.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Criteria_Id</name>
        <label>Assign Criteria Id</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varStudentMatchCriteriaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recVar_StudentMatchCriteria.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MatchingPreviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record1_Values</name>
        <label>Assign Record Values (Any/All path)</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.ACT_Composite_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACT_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.ACT_Score_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACT_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Any_All_no_preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_All_no_preference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.College_Major_First_Choice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MajorIDChosen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Far_West__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Far_West</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Great_Lakes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Great_Lakes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.High_GPA_Accet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_GPA_for_Accepted_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Large_15_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_15_000_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Low_GPA_of_Accepted_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low_GPA_for_Accepted_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Medium_5_000_to_15_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium_5_000_to_15_000</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Mid_East__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mid_East</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentMatchCriteriaRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.New_England__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_England</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Plains__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Rocky_Mountains__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rocky_Mountains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Rural__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Math_High__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Math_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Math_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Math_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Verbal_High_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Verbal_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Verbal_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sat_Verbal_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Small_Less_than_5_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Southeast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Southeast</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Southwest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Southwest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Suburban__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Test_Score_Optional_Schools__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Scores_Optional_Schools</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Urban__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Student_Match_Criteria_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record2_Values</name>
        <label>Assign Record Values (No Any/All path)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.ACT_Composite_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACT_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.ACT_Score_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACT_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Any_All_no_preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_All_no_preference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.College_Major_First_Choice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MajorIDChosen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Far_West__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Far_West</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Great_Lakes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Great_Lakes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.High_GPA_Accet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High_GPA_for_Accepted_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Large_15_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Large_15_000_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Low_GPA_of_Accepted_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low_GPA_for_Accepted_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Medium_5_000_to_15_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medium_5_000_to_15_000</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Mid_East__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mid_East</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StudentMatchCriteriaRecordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.New_England__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_England</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Plains__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Rocky_Mountains__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rocky_Mountains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Rural__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rural</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Math_High__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Math_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Math_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Math_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Verbal_High_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAT_Verbal_High_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.SAT_Verbal_Low__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sat_Verbal_Low_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Small_Less_than_5_000_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Small</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Southeast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Southeast</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Southwest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Southwest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Suburban__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suburban</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Test_Score_Optional_Schools__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Scores_Optional_Schools</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Town__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Town</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recVar_StudentMatchCriteria.Urban__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Urban</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Student_Match_Criteria_Record2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_All_value_selected_for_College_Setting</name>
        <label>Any/All value selected for &apos;College Setting&apos;?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Record2_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Any/All not selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Any_All_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Any_All_no_preference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record1_Values</targetReference>
            </connector>
            <label>Yes, Any/All selected</label>
        </rules>
    </decisions>
    <description>03.19.2026 (MJD) - v11 - Refactored to pass created Student Match Criteria Id to Right Fit Match Preview via varStudentMatchCriteriaId; LWC loads criteria from record, no formulas needed.
03.20.2026 (MJD) - v10 - Adding &apos;Matching Preview&apos; screen/LWC that checks for outputs from student criteria.
12.15.2025 (MJD) - v7/v8 - Removed &apos;fault&apos; path &amp; error message for this version....can&apos;t seem to get around it when submitting values for survey....
11.06.2025 (MJD) - v6 - First Name on screen not reflected, so switched to pull Contact &apos;First Name&apos; and &apos;Last Name&apos;
10.20.2025 (MJD) - v2 - Removed &apos;Preferred Major&apos; from screen selection criteria. Values not populated in database, so removed for now.
v.61 populates the Match Criteria lookup on the contact record.

10.08.2025 (MJD) - v9 - Updated values for screen selections for Student Match Criteria.
09.09.2025 (MJD) - v8 - Added &apos;Decision&apos; node to see if &apos;Any/All&apos; selected, then used appropriate &apos;Create&apos; based on value.
09.09.2025 (MJD) - v7 - Updated &apos;College Setting&apos; to automatically turn on other values when &apos;Any/All&apos; selected. Updated SEED Logo on validation screen.
09.09.2025 (MJD) - v6 - Added validation rule on &apos;College Setting&apos; values for &apos;Any/All (no preference)&apos; selection.
09.09.2025 (MJD) - v5 - Updated &apos;College Setting&apos; field to multi-selection option and added &apos;Any/All (no preference)&apos; as a selection option.</description>
    <dynamicChoiceSets>
        <name>ACTHighScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ACT_Composite_Score__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ACTLowChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ACT_Score_Low__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClassYear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollegeSetting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>College_Setting__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollegeSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>College_Size__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GradeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Grade__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>High_GPA_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>High_GPA_Accet__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Low_GPA_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Low_GPA_of_Accepted_Students__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MajorChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>College_Majors__c</object>
        <outputAssignments>
            <assignToReference>MajorIDChosen</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MajorNameChosen</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SATHighMathScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SAT_Math_High__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SATMathLowScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SAT_Math_Low__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SATVerbalHighScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SAT_Verbal_High_Score__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SATVerbalLowScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SAT_Verbal_Low__c</picklistField>
        <picklistObject>Student_Match_Criteria__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SEEDCounselorChosen</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2F00e59000000DhMh</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SEEDCounselerIDChosen</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SEEDCounselerNameChosen</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Refresh_Timestamp</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate}) * 10000000000 + MONTH({!$Flow.CurrentDate}) * 100000000 + DAY({!$Flow.CurrentDate}) * 1000000 + HOUR(TIMEVALUE({!$Flow.CurrentDateTime})) * 10000 + MINUTE(TIMEVALUE({!$Flow.CurrentDateTime})) * 100 + SECOND(TIMEVALUE({!$Flow.CurrentDateTime}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StudentMatchCriteriaRecordName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp; {!$User.LastName}&amp;&quot; - &quot;&amp;text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>Student Right Fit School Selection Criteria {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automation - Student Match Criteria - Right Fit Student Match Criteria Capture (Screen Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Student_Match_Criteria_Record</name>
        <label>Student Match Criteria Record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Criteria_Id</targetReference>
        </connector>
        <inputReference>recVar_StudentMatchCriteria</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Student_Match_Criteria_Record2</name>
        <label>Student Match Criteria Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Criteria_Id</targetReference>
        </connector>
        <inputReference>recVar_StudentMatchCriteria</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_via_Passed_In_Variable</name>
        <label>Get Contact of Running User</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Case_Safe_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Path</name>
        <label>Update Contact Path</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Student_Match_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CoFo_SIS__Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Grade__c</field>
            <value>
                <elementReference>GradeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Right_Fit_Progress__c</field>
            <value>
                <stringValue>Match Criteria Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Match_Criteria__c</field>
            <value>
                <elementReference>varStudentMatchCriteriaId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>MatchingPreviewScreen</name>
        <label>MatchingPreviewScreen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact_Path</targetReference>
        </connector>
        <fields>
            <name>MatchPreview</name>
            <extensionName>c:rightFitMatchPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>studentMatchCriteriaId</name>
                <value>
                    <elementReference>varStudentMatchCriteriaId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>refreshKey</name>
                <value>
                    <elementReference>Formula_Refresh_Timestamp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Student_Match_Criteria</name>
        <label>Student Match Criteria</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_All_value_selected_for_College_Setting</targetReference>
        </connector>
        <fields>
            <name>student_match_criteria_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;strong&gt;Step 2:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Provide your desired college search criteria so that SEED can help you find the right fit.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;Note:&lt;/em&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt; You must have at least one selection for region and size to generate search results. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Major_GPA_Criteria</name>
            <fieldText>Major &amp; GPA Criteria</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Major_GPA_Criteria_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>High_GPA_for_Accepted_Students</name>
                    <choiceReferences>High_GPA_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>High GPA for Accepted Students</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Major_GPA_Criteria_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Low_GPA_for_Accepted_Students</name>
                    <choiceReferences>Low_GPA_Choice_Set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Low GPA for Accepted Students</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>College_Location_Criteria</name>
            <fieldText>Location Criteria</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>College_Location_Criteria_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>College_Region_Text</name>
                    <fieldText>&lt;p&gt;Which region(s) do you want to include in your college search? &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Far_West</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Far West</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rocky_Mountains</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rocky Mountains</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Great_Lakes</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Great Lakes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Southwest</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Southwest</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>College_Location_Criteria_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Plains</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Plains</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mid_East</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Mid East</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>New_England</name>
                    <dataType>Boolean</dataType>
                    <fieldText>New England</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Southeast</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Southeast</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>College_Location_Criteria_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>USRegionalMap</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>US_Map_Regions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>Center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>US Regional Map</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>College_Setting_Preference</name>
            <fieldText>College Setting Preference (You may select more than one choice)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>College_Setting_Preference_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rural</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Rural</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Town</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Town</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suburban</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Suburban</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Urban</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Urban</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Any_All_no_preference</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Any/All (no preference)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>College_Size_Header</name>
            <fieldText>College Size</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>College_Size_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Small</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Small: Less than 5,000 Students</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>College_Size_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medium_5_000_to_15_000</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Medium: 5,000 to 15,000 Students</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>College_Size_Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Large_15_000_Students</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Large: 15,000+ Students</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>College_Test_Score_Criteria</name>
            <fieldText>Test Score Criteria</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>College_Test_Score_Criteria_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACT_High_Score</name>
                    <choiceReferences>ACTHighScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>ACT High Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SAT_Verbal_High_Score</name>
                    <choiceReferences>SATVerbalHighScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SAT Verbal High Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SAT_Math_High_Score</name>
                    <choiceReferences>SATHighMathScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SAT Math High Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Test_Scores_Optional_Schools</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Test Scores Optional Schools</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>College_Test_Score_Criteria_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACT_Low_Score</name>
                    <choiceReferences>ACTLowChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>ACT Low Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sat_Verbal_Low_Score</name>
                    <choiceReferences>SATVerbalLowScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SAT Verbal Low Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SAT_Math_Low_Score</name>
                    <choiceReferences>SATMathLowScore</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SAT Math Low Score</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Student_Match_Success_Message</name>
        <label>Student Match Success Message</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>gifFileYayBalloon</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>YAY_Ballon_GIF</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Student_Match_Criteria_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt;You did it! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt;Congrats on kicking off yo&lt;/span&gt;&lt;span style=&quot;font-size: 20px; font-family: tahoma; color: rgb(2, 27, 76); background-color: rgb(255, 255, 255);&quot;&gt;ur college search﻿.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt;Your college counselor will be in touch with&lt;/span&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 14px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt; you soon to share which schools are the right fit for &lt;/span&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 14px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt;you&lt;/strong&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: 14px; font-family: tahoma; color: rgb(2, 27, 76);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!$Resource.SEEDLogo}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SoundFileApplause</name>
            <extensionName>c:SoundCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>soundName</name>
                <value>
                    <stringValue>Applause</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Contact</name>
        <label>Verify Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Student_Match_Criteria</targetReference>
        </connector>
        <fields>
            <name>Verify_Contact_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 1:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;To get your college search started, please provide your name, counselor and grade below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Contact_via_Passed_In_Variable.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Contact_via_Passed_In_Variable.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Verify_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Grade</name>
                    <choiceReferences>GradeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Contact_via_Passed_In_Variable.Current_Grade__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Grade</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_via_Passed_In_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MajorIDChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MajorNameChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recVar_StudentMatchCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Student_Match_Criteria__c</objectType>
    </variables>
    <variables>
        <name>SEEDCounselerIDChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SEEDCounselerNameChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varRural</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStudentMatchCriteriaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuburban</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUrban</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
