force-app/main/default/flows/Update_Right_Fit_App_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Available_Major_Found</name>
        <label>Available Major Found</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Preferred_Major_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Major_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_College_Majors.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Available Major Not Found</label>
        </rules>
    </decisions>
    <description>With Preferred Major</description>
    <environments>Default</environments>
    <interviewLabel>Update Right Fit App Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Right Fit App and Major Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_associated_Account_Record</name>
        <label>Get associated Account Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Right_Fit_Record_with_App_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Right_Fit_Record.College_Match__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_College_Majors</name>
        <label>Get Available College Majors</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Available_Major_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>College__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_associated_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>College_Major__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Right_Fit_Record.First_Match_Criteria__r.College_Major_First_Choice__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Available_Major__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Preferred_Major_Checkbox</name>
        <label>Update Preferred Major Checkbox</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Right_Fit_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Preferred_Major_Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Student_Right_Fit_List__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Right_Fit_Record_with_App_Info</name>
        <label>Update Right Fit Record with App Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_College_Majors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Right_Fit_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Link__c</field>
            <value>
                <elementReference>Get_associated_Account_Record.School_Application_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Common_App_Direct_Link__c</field>
            <value>
                <elementReference>Get_associated_Account_Record.Common_App_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Common_App_School__c</field>
            <value>
                <elementReference>Get_associated_Account_Record.Common_App_School__c</elementReference>
            </value>
        </inputAssignments>
        <object>Student_Right_Fit_List__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_associated_Account_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Right_Fit_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Student_Right_Fit_List__c</objectType>
    </variables>
</Flow>
